*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    line-height: 100px;
    background-color: orangered;
    border-bottom: solid 10px black;
    text-align: center;
}

body{
    background-color: aqua;
}
