#chat {
    position: fixed;
    bottom: 0;
    right: 3vw;
    background-color: black;
    padding: 5px;

    #messages {
        height: 300px;
        width: 350px;
        overflow-y: scroll;
        background-color: white;
    }

    #tools {
        padding: 5px;
    }

    input {
        border: none;
        background-color: white;
        padding: 4px;
    }

    #pseudo {
        font-size: .8em;
        width: 50px;
    }

    #text {
        width: 250px;
    }

    button {
        padding: 4px;
        background-color: orange;
        color: white;
        border: none;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            color: orange;
            background-color: black;
        }
    }
}


