form {
    position: relative;
    display: flex;
    z-index: 10;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-self: center;
    margin: 30px auto 0 auto;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
    width: 350px;
    background-color: #FFFFFF;

    > div {
        margin: 10px 0;

        label {
            display: block;
            font-weight: bold;
        }

        input, textarea, select {
            outline-color: transparent;
            border: none;
            padding: 10px 5px;
            background-color: #eeeeee;
            width: 280px;
        }

        .souitch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 30px;
            background-color: #eeeeee;
            border-radius: 20px;
            cursor: pointer;
            vertical-align: middle;
            margin: 0 10px;
        }

        .ball {
            position: absolute;
            top: 7px;
            left: 7px;
            right: 16px;
            width: 16px;
            height: 16px;
            background-color: #000000;
            border-radius: 2px;
            transition: all .5s ease;
            transform: rotate(0deg);
        }

        .ball.clicked {
            left: 56px;
            right: 4px;
            transform: rotate(180deg);
        }

        .souitchLabel {
            display: inline-block;
            vertical-align: middle;
        }
    }

    textarea {
        width: 100%;
        resize: vertical;
    }
}
